version: 2.1

commands:
  validate-preset:
    description: >
      Validate a Renovate config preset.
    parameters:
      config-file:
        description: >
          Full path to Renovate config preset file to validate.
        type: string
    steps:
      - run:
          command: /usr/src/app/bin/config-validator.js
          environment:
            RENOVATE_CONFIG_FILE: << parameters.config-file >>
          name: Validate << parameters.config-file >>
      - run:
          command: npx ajv -s renovate-schema.json -d << parameters.config-file >>
          name: Validate << parameters.config-file >> against JSON schema

jobs:
  validate:
    docker:
      - image: renovate/renovate:19.74.2-slim@sha256:d726dab7d050a69a6b5f54e7de443f8cd2551355b726ed44f92490c67f0a189b
    steps:
      - checkout
      - restore_cache:
          keys:
            - npm-v1-{{ .Branch }}-{{ checksum "package-lock.json" }}
            - npm-v1-{{ .Branch }}-
            - npm-v1-
          name: Restore npm cache
      - run:
          command: npm install
          name: Install npm dependencies
      - save_cache:
          key: npm-v1-{{ .Branch }}-{{ checksum "package-lock.json" }}
          name: Save npm cache
          paths:
            - ~/.npm
      - run:
          command: curl https://raw.githubusercontent.com/renovatebot/renovate/master/renovate-schema.json > renovate-schema.json
          name: Fetch renovate configuration schema
      - validate-preset:
         config-file: /home/ubuntu/project/circleci-orb.json
      - validate-preset:
         config-file: /home/ubuntu/project/default.json
      - validate-preset:
         config-file: /home/ubuntu/project/legacy.json
      - validate-preset:
         config-file: /home/ubuntu/project/onsite-library.json

workflows:
  version: 2
  validate:
    jobs:
      - validate
